/*============================
=            Cart            =
============================*/

.cart-content {
	width: 100%;
	display: flex;
	flex-direction: row;

	&__total {
		width: 50%;
		height: calc(100vh - (#{$headerWidth} * 2));
		display: block;
		// display: flex;
		// justify-content: center;
		// align-items: center;
		background-color: lighten($primary, 95%);
		// background-image: url("images/cart_bottle.png");
		// background-repeat: no-repeat;
		// background-position: 50% 50%;
		// background-size: 27%;
		position: relative;

		img {
			width: auto;
			height: 80%;
			display: block;
		}
	}

	.cart-total {
		width: calc(50% - #{$headerWidth} - ((#{$headerWidth} + ((#{$headerWidth} / 4) * 3)) * 2));
		height: $headerWidth;
		// display: block;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: $primary;
		color: $colorTextOnBlack;
		padding: 0 calc(#{$headerWidth} + ((#{$headerWidth} / 4) * 3));
		position: fixed;
		left: $headerWidth;
		top: 50%;
		transform: translateY(-50%);

		&__total {
			width: 20%;
			display: flex;
			align-items: center;
			color: $colorTextOnBlack;
			font-size: $font-size-h3;
			text-align: left;
		}

		&__count {
			width: 30%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $colorTextOnBlack;
			font-size: $font-size-h3;
			text-align: center;
		}

		&__cost {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			color: $colorTextOnBlack;
			font-size: $font-size-h3;
			text-align: right;
		}

		&__send {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.cart-clear {
		position: fixed;
		bottom: 25%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;

		button {
			width: 3rem;
			height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			// border-radius: 50%;
			outline: none;
			border: none;
			padding: 0.5rem;
			background-color: $cartClearBackground;
			cursor: pointer;
			transform: rotate(45deg);

			svg {
				width: 2rem;
				height: 2rem;
				transform: rotate(-45deg) translate(5%, -2%);

				#cartClear {
					fill: $cartClearFill;
				}

				#cartClearCross {
					fill: $cartClearFill;
					transform-origin: 50% 22%;
				}
			}

			#cartClearFullMobile {
				display: none;
				visibility: hidden;
				font-size: $font-size-base;
			}

			&:hover {

				svg {

					#cartClear {
						fill: $secondary;
					}

					#cartClearCross {
						fill: $secondary;
						transform: translateY(10%);
					}
				}
			}
		}
	}

	&__order {
		width: calc(50% - (#{$headerWidth} + (#{$headerWidth} / 4)));
		min-height: calc(100vh - (#{$headerWidth} * 2));
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primary;
		color: $colorTextOnBlack;
		position: relative;
		padding: 0 calc(#{$headerWidth} / 4) 0 $headerWidth;
		overflow: hidden;

		.cart-table {
			width: 100%;
			// min-height: 20%;
			margin: 0.5rem 0;

			.table-id {
				width: 100%;
				min-height: 8rem;
				display: flex;
				flex-direction: row;
				margin: 1rem 0;
				// border: $cart_table_border solid $secondary;
				// border-right: none;

				&__image {
					width: 30%;
					height: 8rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border: $cart_table_border solid $secondary;
					border-left: none;
					background-color: $secondary;

					a {
						width: calc(100% - #{$cart_table_border});
						height: 8rem;
						display: flex;
						align-items: center;
						justify-content: center;
						overflow: hidden;
						margin-left: $cart_table_border;

						img {
							width: auto;
							height: 100%;
						}
					}
				}

				&__product {
					width: 35%;
					height: 8rem;
					display: flex;
					flex-direction: column;
					border: $cart_table_border solid $secondary;
					border-left: none;

					.product {
						width: 100%;
						height: 100%;

						&__title {
							width: calc(100% - 2rem);
							// height: calc(100% - (#{$cart_vert_paddind} * 2));
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							// padding: $cart_vert_paddind 1rem;
							padding: 0 1rem;
							border-bottom: $cart_table_border solid $secondary;

							a {
								color: $colorTextOnBlack;

							}
						}

						&__vendor {
							width: calc(100% - 2rem);
							//height: calc(100% - (#{$cart_vert_paddind} * 2));
							height: 50%;
							display: flex;
							align-items: center;
							justify-content: flex-start;
							//padding: $cart_vert_paddind 1rem;
							padding: 0 1rem;
						}
					}
				}

				&__count {
					width: 25%;
					height: 8rem;
					display: flex;
					flex-direction: column;
					border: $cart_table_border solid $secondary;
					border-left: none;

					.count {

						&-form {
							height: 100%;
						}

						&__count {
							width: 100%;
							// height: calc(100% - (#{$cart_vert_paddind} * 2));
							height: 50%;
							border-bottom: $cart_table_border solid $secondary;
							// padding: $cart_vert_paddind 0;

							.count-form-group {
								width: 100%;
								height: 100%;
								display: flex;
								flex-direction: row;
								position: relative;

								&__input {
									width: 70%;
									height: 95%;
									display: flex;
									align-items: center;
									text-align: center;
									background-color: transparent;
									color: $colorTextOnBlack;
									outline: none;
									border: none;
									font-family: $primary-font;
									font-size: $font-size-large;
									position: relative;
								}

								&__up {
									width: 1.3rem;
									height: 1.3rem;
									display: block;
									position: absolute;
									top: 0;
									right: 0;
									margin-top: -10%;
									z-index: 2;
									background-color: transparent;
									outline: none;
									border: none;
									padding: 0.3rem 0.3rem 0 0;
									transition: all 0.3s;
									cursor: pointer;


									svg {
										width: 100%;
										height: 100%;

										polyline {
											fill: none;
											stroke: $secondary;
											stroke-width: 0.3rem;
										}
									}

									&:hover {
										transform: translate(0.15rem, -0.15rem);
									}
								}

								&__down {
									width: 1.3rem;
									height: 1.3rem;
									display: block;
									position: absolute;
									bottom: 0;
									left: 0;
									z-index: 2;
									background-color: transparent;
									outline: none;
									border: none;
									padding: 0 0 0.3rem 0.3rem;
									transition: all 0.3s;
									cursor: pointer;

									svg {
										width: 100%;
										height: 100%;
										transform: rotate(180deg);

										polyline {
											fill: none;
											stroke: $secondary;
											stroke-width: 0.3rem;
										}
									}

									&:hover {
										transform: translate(-0.15rem, 0.15rem);
									}
								}

								&__unit {
									width: 30%;
									display: flex;
									align-items: center;
								}

								&__button {
									width: 0;
								}
							}
						}

						&__price {
							width: 100%;
							// height: calc(100% - (#{$cart_vert_paddind} * 2));
							height: 50%;
							display: flex;
							flex-direction: column;
							// padding: $cart_vert_paddind 0;

							&__price {
								width: calc(100% - 1.5rem);
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 0 0.75rem;
							}

							&__old-price {
								width: calc(100% - 2rem);
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								color: $colorOldPrice;
								text-decoration: line-through;
								padding: 0 1rem;
							}
						}
					}
				}

				&__remove {
					width: 10%;
					height: 8rem;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: transparent;

					button {
						width: 1rem;
						height: 1rem;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 0;
						background-color: $primary;
						border: none;
						padding: 0;
						cursor: pointer;

						svg#tableIDlose {
							width: 1rem;
							height: 1rem;
							transform: rotate(-45deg);

							polygon {
								fill: $colorOldPrice;
							}
						}

						&:hover {

							svg#tableIDlose {


								polygon {
									fill: $secondary;
								}
							}
						}
					}
				}
			}
		}
	}

	&__empty {
		width: 100%;
		height: calc(100vh - (#{$headerWidth} * 2));
		background-color: $cartBackground;
		display: flex;
		// justify-content: center;
		// align-items: center;
		// flex-wrap: wrap;

		img {
			width: auto;
			height: 70%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0.2;
			transform: translate(-50%, -50%);
		}

		.cart-empty {

			&__center {
				top: 50%;
				left: 50%;
				display: inline-block;
				position: absolute;
				transform: translate(-50%, -50%);

				h2 {
					margin: 0;
				}
			}

			&__to-menu {
				display: flex;
				align-items: center;
				position: absolute;
				top: 50%;
				left: 8rem;
				color: $cartOtherDescription;
				transform: translateY(-50%);

				svg {
					width: 1rem;
					height: 1rem;
					display: flex;
					position: absolute;
					fill: none;
					stroke: $cartOtherDescription;
					stroke-width: 0.15rem;
					transform: translateX(-200%) rotate(-45deg);
				}
			}

			&__to-search {
				display: flex;
				justify-content: center;
				position: absolute;
				bottom: 7rem;
				color: $cartOtherDescription;
				left: 50%;
				transform: translate(-50%, -50%);

				svg {
					width: 1rem;
					height: 1rem;
					display: flex;
					position: absolute;
					fill: none;
					stroke: $cartOtherDescription;
					stroke-width: 0.15rem;
					transform: translateY(200%) rotate(-135deg);
				}
			}
		}
	}

	// @include grid-media($XXLarge) {
	// 	&__order {


	// 		.cart-table {

	// 			.table-id {
	// 				height: 8rem;
	// 			}
	// 		}
	// 	}
	// }

	// @include grid-media($XLarge) {
	// 	&__order {


	// 		.cart-table {

	// 			.table-id {
	// 				height: 8rem;
	// 			}
	// 		}
	// 	}
	// }

	// @include grid-media($Large) {
	// 	&__order {


	// 		.cart-table {

	// 			.table-id {
	// 				height: 8rem;
	// 			}
	// 		}
	// 	}
	// }

	@include grid-media($Medium) {

		.cart-total {
			width: calc(50% - 50px - 5rem);
			padding: 0 3rem 0 2rem;

			&__total {
				font-size: $font-size-large;
			}

			&__count {
				font-size: $font-size-large;
			}

			&__cost {
				font-size: $font-size-large;
			}
		}

		&__order {
			width: calc(50% - 4rem);
			padding: 0 1rem 0 3rem;

			.cart-table {
				width: 100%;
				font-size: $font-size-base;

				.table-id {

					&__count {

						.count__count {

							.count-form-group {

								&__input {
									width: 60%;
								}

								&__unit {
									width: 40%;
								}
							}
						}
					}
				}
			}
		}

		&__empty {

			.cart-empty {

				&__to-menu,
				&__to-search {
					font-size: $font-size-small;
				}
			}
		}
	}

	@include grid-media($XSmall) {

		.cart-total {
			width: calc(50% - 50px - 5rem);
			padding: 0 3rem 0 2rem;

			&__total {
				font-size: $font-size-large;
			}

			&__count {
				font-size: $font-size-large;
			}

			&__cost {
				font-size: $font-size-large;
			}
		}

	    &__order {
			width: calc(50% - 7rem);
			padding: 0 3rem 0 4rem;
			min-height: calc(100vh - 100px);
			// z-index: 3;

			.cart-table {
				width: 100%;
				font-size: $font-size-base;

				.table-id {
					flex-direction: column;
					margin-left: 0;

					&__image {
						width: 100%;
						border-left: $cart_table_border solid $secondary;
					}

					&__product {
						width: 100%;
						height: 12rem;
						border-left: $cart_table_border solid $secondary;
					}

					&__count {
						width: 100%;
						margin-top: -0.075rem;
						border-left: $cart_table_border solid $secondary;
					}

					&__remove {
						width: 100%;
						height: 2rem;
						background-color: $secondary;
						border: $cart_table_border solid $secondary;

						button {
							background-color: $secondary;

							svg#tableIDlose {
								polygon {
									fill: $primary;
								}
							}
						}
					}
				}
			}
		}

		&__empty {

			.cart-empty {

				&__center {
					width: 100%;
					text-align: center;

					h2 {
						font-size: $font-size-large;
					}
				}

				&__to-menu,
				&__to-search {
					display: none;
					visibility: hidden;
				}
			}
		}
	}

	@include grid-media($Small) {
		flex-direction: column;

		&__total {
			width: 100%;
			height: calc(50vh - 50px - 2.5rem);
			padding-top: 2.5rem;
			z-index: 1;
		}

		.cart-total {
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			background-color: transparent;
			position: relative;
			left: 0;
			padding: 0;

			&__total {
				width: 100%;
				color: $primary;
				text-align: center;
				justify-content: center;
			}

			&__count {
				width: 100%;
				color: $primary;
				text-align: center;
			}

			&__cost {
				width: 100%;
				color: $primary;
				text-align: center;
				justify-content: center;
			}
		}

		.cart-clear {
			width: 100%;
			bottom: 50px;
			left: 0;
			transform: translate(0, 0);
			z-index: 9999;

			button {
				width: 100%;
				height: 2.5rem;
				padding: 0;
				transform: rotate(0);
				background-color: $minicartToCart;

				svg {
					display: none;
					visibility: hidden;
					transform: rotate(-45deg) translate(-40%, -2%);
				}

				#cartClearFullMobile {
					display: block;
					visibility: visible;
				}
			}
		}

		&__order {
			width: calc(100% - 2rem);
			padding: 0 1rem;
			min-height: 100vh;
			// z-index: 3;

			.cart-table {
				width: 100%;
				font-size: $font-size-base;

				.table-id {
					flex-direction: column;
					margin-left: 0;

					&__image {
						width: 100%;
						border-left: $cart_table_border solid $secondary;
					}

					&__product {
						width: 100%;
						height: 12rem;
						border-left: $cart_table_border solid $secondary;
					}

					&__count {
						width: 100%;
						margin-top: -0.075rem;
						border-left: $cart_table_border solid $secondary;
					}

					&__remove {
						width: 100%;
						height: 2rem;
						background-color: $secondary;
						border: $cart_table_border solid $secondary;

						button {
							background-color: $secondary;

							svg#tableIDlose {
								polygon {
									fill: $primary;
								}
							}
						}
					}
				}
			}
		}

		&__empty {

			.cart-empty {

				&__center {
					width: 100%;
					text-align: center;

					h2 {
						font-size: $font-size-large;
					}
				}

				&__to-menu,
				&__to-search {
					display: none;
					visibility: hidden;
				}
			}
		}
	}
}

/*=====  End of Cart  ======*/
